HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Configuration files with sensitive data ###
src/main/resources/application.properties
src/main/resources/db/liquibase.properties
liquibase*.properties
*.local.properties

# Environment specific configurations
application-dev.properties
application-staging.properties
# Note: application-prod.properties is tracked but uses environment variables

# Frontend assets under development
src/main/resources/static/